<div class="jumbotron">
  <div class="container" align="center">
    <div class="user-image">
    </div>
    <h4>"I could really use a clever quote for my landing page right about now"</h4>
    <h3>Justin Boltz</h3>
  </div>
</div>
<div class="col-md-6" align="center" style="padding: 0rem 5rem 1rem 5rem;">
  <div class="preview">
    <h1 class="title" style="color:black;">My Work</h1>
  </div>
</div>
<div class="col-md-6" align="center" style="padding: 0rem 5rem 1rem 5rem;">
  <div class="preview">
    <h1 class="title" style="color:black;">My Thoughts</h1>
  </div>
</div>
