<section>
  <div class="title">
    <h1>
      Resumé <%= link_to "", download_resume_path, :class=>"icon glyphicon glyphicon-download-alt" %>
    </h1>
    <%= image_tag "Justin-Boltz-Resume.png", :class => "img-document"%>
  </div>
</section>
