<section class="container">
  <h1 class="title" align="center">
    Resumé <%= link_to "", download_resume_path, :class=>"icon glyphicon glyphicon-download-alt", :style=>"font-size: 85%;" %>
  </h1>
  <div align="center">
    <%= image_tag "Justin-Boltz-Resume.png", :class => "img-document"%>
  </div>
</section>
