<div class="container">
  <div class="post">
    <h2 class="title">
      <%= @project.title %>
    </h2>
    <p> <%= @project.url %></p>
    <br>
    <p>
      <%= markdown(@project.body) %>
    </p>
  </div>
</div>
