<div class="container">
  <div class="post">
    <h2 class="title">
      <%= @project.title %>
    </h2>
    <p> <%= link_to @project.url, "http://#{@project.url}", target: :_blank %></p>
    <br>
    <div align="center">
      <%= image_tag @project.screenshot.url(:large), :class=>"img-responsive" %>
    </div>
    <p>
      <%= markdown(@project.body) %>
    </p>
  </div>
</div>
