<div class="container">
  <h1 class="title" align="center">My Thoughts</h1>
  <br>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-6" align="center" style="padding: 0rem 3rem 1rem 3rem;">
        <div class="preview" style="min-height: 15rem;">
          <h3 align="left">
            <%= link_to post.title, post, :class=>'post-link'%>
          </h3>
          <h5 align="left">
            <%= post.date %>
          </h5>
          <h4 align="left">
            <%= truncate(strip_tags(markdown(post.body)), length: 200, separator: ' ') %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
