<div class="container">
  <div class="post">
    <h2 class="title">
      <%= @post.title %>
    </h2>
    <p> <%= getDate %></p>
    <br>
    <p>
      <%= markdown(@post.body) %>
    </p>
  </div>
</div>
