<div class="container">
  <div class="post">
    <h2 class="title">
      <%= @post.title %>
    </h2>
    <p> <%= getDate %></p>
    <br>
    <div align="center">
      <%= image_tag @post.image.url(:large), :class=>"img-responsive" %>
    </div>
    <p>
      <%= markdown(@post.body) %>
    </p>
  </div>
</div>
