// Place all the styles related to the Contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
  color: black;
}

.button {
  background-color: #555555;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
